.box-layout {
    background-image: url('/images/bg.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
        background: fade-out(white, .15);
        border-radius: 3px;
        padding: $l-size $m-size;
        text-align: center;
        width: 25rem;

        button:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__title {
        margin-bottom:  $m-size;
        line-height: 1;
    }
}