.button {
    padding: $s-size;
    color: white;
    border: none;
    font-size: $font-size-large;
    font-weight: 300;
    display: inline-block;

    &:link,
    &:visited {
        text-decoration: none;
        line-height: 1;
    }
}

.button--blue {
    background-color: $blue;
}

.button--google {
    background-color: #F4B400;
}

.button--github {
    background-color: #333;
}

.button--facebook {
    background-color: #3b5998;
}

.button--twitter {
    background-color: #00aced;
}

.button--green {
    background-color: $green;
}

.button--red {
    background-color: $red;
}

.button--link { 
    background: transparent;
}

.button--secondary {
    margin-top: $s-size;
    background-color: #888888;
}